.addContact {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 16%;
    margin-top: 1em;
}


/* input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 0.5em;
} */

#addContactButton {
    display: block;
    position: static;
    left: 0;
    top: 0;
    width: 1.5em;
    height: 1.5em;
    padding-top: 3px;		
    text-decoration: none;		
    text-align: center;
    font-size: 25px;		
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    background-color: rgb(255, 255, 255);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;		
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border: 1px solid rgb(77, 77, 77);
}

#addContactButton:hover {
    border: 2px solid rgb(165, 165, 165);
    /* opacity: 0.7; */
    width: 1.7em;
    height: 1.7em;
    cursor: pointer;
}

#closeButton{
    padding: 8px 10px;
    border: 1px solid black;
    border-radius: 8px;
}

#closeButton:hover{
   cursor: pointer;
   background-color: rgb(245, 245, 245);
   padding: 12px 15px;
}

#addContactButton:focus {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.164);
 
}

@-moz-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@-webkit-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@-o-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}



.deleteButton {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: #757575;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Consolas","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    margin-left: 60%;
   
}
@media (max-width: 1320px) { .deleteButton{margin-left: 60%;} }
@media (max-width: 1060px) { .deleteButton{margin-left: 50%;} }
@media (max-width: 940px) { .deleteButton{margin-left: 20%;} }
@media (max-width: 600px) { .deleteButton{margin-left: 10%;} }

.deleteButton:hover {
    background-color: rgba(71, 71, 71, 0.226);
    visibility: visible;
}


/* .tdCreate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
} */